@tailwind base;
@tailwind components;
@tailwind utilities;


body {
	margin: 0px;
	scrollbar-width: thin;
	scrollbar-color: #4d7fff #ddd;
}

.ac-form::-webkit-scrollbar {
	width: 16px;
}

.ac-form::-webkit-scrollbar-thumb {
	border: 5px solid transparent;
  border-radius: 100px;
  background-color: #6d6e72;
  background-clip: content-box;
}

.ac-form::-webkit-scrollbar-track {
	background-color: #e4e4e4;
	border-radius: 100px;
}
